.a{
  margin-left: 38%;
  font-stretch: expanded;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
.ab{
  background-color: black;
}

.ad{
  size: 150px;
}



